

<nav class="navbar navbar-dark bg-dark py-3">
    <div class="navbar-brand"><a href="/dashboard" class="navbar-brand d-flex align-items-center"> <strong><i class="fas fa-arrow-left"></i> Back</strong></a>
    </div>
  </nav>
  
  <div class="bg-light">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
          <h1 class="display-4">Who are we?</h1>
          <p class="lead text-muted mb-0">Launched in Banglore 2 years ago, FOODCLOUD has grown from a home project to one of the largest food aggregators in the city. We are present in 2 locations int the city of Banglore, enabling our vision of better food for more people. We not only connect people to food in every context but work closely with our staff to enable a sustainable ecosystem.</p>
          </p>
        </div>
        <div class="col-lg-6 d-none d-lg-block"><img src="https://b.zmtcdn.com/web/about/a7b0a36d5107f3590895981dab2eeac31563208212.jpeg" alt="" class="img-fluid"></div>
      </div>
    </div>
  </div>
  
  <div class="bg-white py-5">
    <div class="container py-5">
      <div class="row align-items-center mb-5">
        <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">Our Journey</h2>
          <p class="font-italic text-muted mb-4">Back in 2017, all it took was an idea to enable digital access to our restaurant menu. Four passionate foodies who hated waiting for food, drove around Banglore to get best restaurant idea. Their idea has now grown into the vision that drives our team of 20+ people everyday.</p>
        </div>
        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://cdn.pixabay.com/photo/2015/05/15/14/57/sand-768783_960_720.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-5 px-5 mx-auto"><img src="https://cdn.pixabay.com/photo/2016/05/26/14/11/chef-1417239_960_720.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">Our Values</h2>
          <p class="font-italic text-muted mb-4">We push ourselves beyond our abilities when faced with tough times. When we foresee uncertainty, we address it only with flexibility. Feedback is never taken personally, we break it into positive pieces and strive to work on each and every element even more effectively. It’s always ‘us’ over ‘me’. We don’t lose ourselves in pride or confidence during individual successes, but focus on being our simple selves in every which way.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-light py-5">
    <div class="container py-5">
      <div class="row mb-4">
        <div class="col-lg-5">
          <h2 class="display-4 font-weight-light">Our team</h2>
          <p class="font-italic text-muted">Here are some of the key fooders who lead our vision towards better food for more people.</p>
        </div>
      </div>
  
      <div class="row text-center">
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="../images/naman.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Naman Agarwal</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
          </div>
        </div>
        <!-- End-->
  
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834130/avatar-3_hzlize.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Aditiya</h5><span class="small text-uppercase text-muted">Lead - Engineering</span>
          </div>
        </div>
        <!-- End-->
  
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-2_f8dowd.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Anuj</h5><span class="small text-uppercase text-muted">VP - Product</span>
          </div>
        </div>
        <!-- End-->
  
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-1_s02nlg.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Louvish</h5><span class="small text-uppercase text-muted">Head - Corporate Development</span>
          </div>
        </div>
        <!-- End-->
  
      </div>
    </div>
  </div>
  
  
  <footer class="bg-light pb-5">
    <div class="container text-center">
      <p class="font-italic text-muted mb-0">&copy; Copyrights foodclud.com All rights reserved.</p>
    </div>
  </footer>

  
  <style>
      /*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }
  
  .social-link:hover,
  .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
  }
  
  </style>