<link rel="stylesheet" href="../css/menu.css" type="text/css">




<head>
    <meta charset="UTF-8">


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css'>
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<header>
       
    <nav>
        <h2><a href="/dashboard" id="logo"><strong><i class="fas fa-arrow-left"></i> Back</strong></a></h2>
        <button class="nav-button fa fa-bars"></button>
        <div>
            <!--     <ul> -->
            <!--     </ul> -->
        </div>
    </nav>
    <div class="center">
        <h1 class="alex-brush">Our Menu</h1>
        <h2>If it doesn't taste good it doesn't go on the menu.</h2>
        <span id="asterisk">*</span>
        <p>We don’t make it ‘til you order it.</p>
    </div>
</header>
<!-- Our Menu section starts -->
<% include ./partials/messages %>
<form action="/dashboard/menu" method="POST">
    <section id="our-menu">
        <div class="container">
            <div class="center-text-menu">
                <h1 class="alex-brush"><span class="custom-font">Discover</span><br />OUR MENU</h1>
               
                
            </div>
            <div class="menu-table">
                <!-- Menu tabs -->
                <ul class="nav nav-tabs  menu-tabs" role="tablist">
                    <li class="active">
                        <a href="#soups-salads-appetizers" aria-controls="soups-salads-appetizers" role="tab" data-toggle="tab" class="icon icon-home"><span>Breakfast</span></a>
                    </li>
                    <!--li>
                                  <a href="#organic-Pastas" aria-controls="prganic-Pastas" role="tab" data-toggle="tab">Lunch</a>
                              </li>
                              <li>
                                  <a href="#Pizza" aria-controls="Pizza" role="tab" data-toggle="tab">Dinner</a>
                              </li>
                              <li>
                                  <a href="#entrees" aria-controls="entrees" role="tab" data-toggle="tab">Desserts</a>
                              </li-->
                    <li>
                        <a href="#desserts" aria-controls="desserts" role="tab" data-toggle="tab">Desserts</a>
                    </li>
                </ul>

                <!-- Menu Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active fade in" id="soups-salads-appetizers">
                        <div class="row">
                            <div class="menu-group">
                                <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                    <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                        <img src="../images/sprolls.jpg" alt="" class="img-circle">
                                    </div>
                                    <div class="col-md-7 col-lg-7 col-sm-7 col-xs-9">
                                        <span class="menu-title">Crispy Dragon Rolls</span>
                                        <span class="menu-descp">Deep Fried Dragon Chicken Rolls served with veggies and marinera sauce</span>


                                        <input type="checkbox" id="Dragon Roll" name="Dragon Roll" value="299">
                                        <label for="Dragon Roll">Select Item </label> Select Quantity:
                                        <select name="Dragon Rollplates" id="Dragon Rollplates">
                                            <option value="1"> 1</option>
                                            <option value="2"> 2</option>
                                            <option value="3"> 3</option>
                                            <option value="4"> 4</option>
                                            <option value="5"> 5</option>
                                          </select>
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-3">
                                        <span class="menu-item-price">
                                                      ₹ 299
                                                  </span>
                                        <span><img src="../images/nveg.jpg" class ="nv"></span>



                                    </div>

                                </div>




                                <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                    <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                        <img src="../images/orings.jpg" alt="" class="img-circle">
                                    </div>
                                    <div class="col-md-7 col-lg-7 col-sm-7 col-xs-9">
                                        <span class="menu-title">Onion Rings</span>
                                        <span class="menu-descp">Onion Rings,served with mayonnaise and ketchup sauce</span>
                                        <input type="checkbox" id="Onion Rings" name="Onion Rings" value="149">
                                        <label for="Onion Rings">Select Item </label> Select Quantity:
                                        <select name="Onion Ringsplates" id="Onion Ringsplates">
                                            <option value="1"> 1</option>
                                            <option value="2"> 2</option>
                                            <option value="3"> 3</option>
                                            <option value="4"> 4</option>
                                            <option value="5"> 5</option>
                                          </select>

                                    </div>
                                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-3">
                                        <span class="menu-item-price">
                                                      ₹ 149
                                                  </span>
                                    </div>
                                </div>

                                <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                    <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                        <img src="../images/fries.jpg" alt="" class="img-circle">
                                    </div>
                                    <div class="col-md-7 col-lg-7 col-sm-7 col-xs-9">
                                        <span class="menu-title">French Fries</span>
                                        <span class="menu-descp">Deep Fried, Served with mayonnaise and ketchup</span>
                                        <input type="checkbox" id="Fries" name="Fries" value="199">
                                        <label for="Fries">Select Item </label> Select Quantity:
                                        <select name="Friesplates" id="Friesplates">
                                            <option value="1"> 1</option>
                                            <option value="2"> 2</option>
                                            <option value="3"> 3</option>
                                            <option value="4"> 4</option>
                                            <option value="5"> 5</option>
                                          </select>

                                    </div>

                                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-3">
                                        <span class="menu-item-price">
                                                      ₹ 199
                                                  </span>
                                    </div>
                                </div>

                                <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                    <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                        <img src="https://www.kingsford.com/wp-content/uploads/2014/11/kfd-howtohamburger-Burgers_5_0391-1024x621.jpg" alt="" class="img-circle">
                                    </div>
                                    <div class="col-md-7 col-lg-7 col-sm-7 col-xs-9">
                                        <span class="menu-title">Sloppy Joe</span>
                                        <span class="menu-descp">Delicious Hamburger served with Fries on the side</span>
                                        <input type="checkbox" id="Burger" name="Burger" value="399">
                                        <label for="Burger">Select Item </label> Select Quantity:
                                        <select name="Burgerplates" id="Burgerplates">
                                            <option value="1"> 1</option>
                                            <option value="2"> 2</option>
                                            <option value="3"> 3</option>
                                            <option value="4"> 4</option>
                                            <option value="5"> 5</option>
                                          </select>
                                    </div>

                                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-3">
                                        <span class="menu-item-price">
                                                      ₹ 399

                                                  </span>
                                        <span><img src="../images/nveg.jpg" class ="nv"></span>
                                    </div>

                                </div>

                                <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                    <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                        <img src="https://www.planetveggie.co.uk/wp-content/uploads/2014/08/spinach-pesto-mozzarella-pasta.jpg" alt="" class="img-circle">
                                    </div>
                                    <div class="col-md-7 col-lg-7 col-sm-7 col-xs-9">
                                        <span class="menu-title">Spinach Pasta</span>
                                        <span class="menu-descp">Pasta made with fresh Baby spinach, olive oil, pecorino romano cheese</span>
                                        <input type="checkbox" id="Pasta" name="Pasta" value="349">
                                        <label for="Pasta">Select Item </label> Select Quantity:
                                        <select name="Pastaplates" id="Pastaplates">
                                            <option value="1"> 1</option>
                                            <option value="2"> 2</option>
                                            <option value="3"> 3</option>
                                            <option value="4"> 4</option>
                                            <option value="5"> 5</option>
                                          </select>
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-3">
                                        <span class="menu-item-price">
                                                      ₹ 349
                                                  </span>
                                    </div>
                                </div>

                                <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                    <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                        <img src="https://i.kinja-img.com/gawker-media/image/upload/wafswectpmbr0zmug9ly.jpg" alt="" class="img-circle">
                                    </div>
                                    <div class="col-md-7 col-lg-7 col-sm-7 col-xs-9">
                                        <span class="menu-title">Pizza</span>
                                        <span class="menu-descp">Pizza with Pepperoni,Mozzarella cheese, olive oil, tomatoes, plain flour, garlic. Served with oregano seasoning</span>
                                        <input type="checkbox" id="Pizza" name="Pizza" value="799">
                                        <label for="Pizza">Select Item </label> Select Quantity:
                                        <select name="Pizzaplates" id="Pizzaplates">
                                            <option value="1"> 1</option>
                                            <option value="2"> 2</option>
                                            <option value="3"> 3</option>
                                            <option value="4"> 4</option>
                                            <option value="5"> 5</option>
                                          </select>
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-3">
                                        <span class="menu-item-price">
                                                      ₹ 799
                                                  </span>
                                        <span><img src="../images/nveg.jpg" class ="nv"></span>
                                    </div>
                                </div>

                                <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                    <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                        <img src="https://cdn.instructables.com/FY0/BMNB/IB226AMH/FY0BMNBIB226AMH.MEDIUM.jpg" alt="" class="img-circle">
                                    </div>
                                    <div class="col-md-7 col-lg-7 col-sm-7 col-xs-9">
                                        <span class="menu-title">Meatball Spaghettihetti</span>
                                        <span class="menu-descp">Red Sauce Spaghettihetti served with delicious chicken meat balls</span>
                                        <input type="checkbox" id="Spaghetti" name="Spaghetti" value="499">
                                        <label for="Spaghetti">Select Item </label> Select Quantity:
                                        <select name="Spaghettiplates" id="Spaghettiplates">
                                            <option value="1"> 1</option>
                                            <option value="2"> 2</option>
                                            <option value="3"> 3</option>
                                            <option value="4"> 4</option>
                                            <option value="5"> 5</option>
                                          </select>
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-3">
                                        <span class="menu-item-price">
                                                      ₹ 499
                                                  </span>
                                        <span><img src="../images/nveg.jpg" class ="nv"></span>
                                    </div>
                                </div>

                                <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                    <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                        <img src="http://assets.simplyrecipes.com/wp-content/uploads/2011/04/17174801/mushroom-risotto-horiz-a-1800.jpg" alt="" class="img-circle">
                                    </div>
                                    <div class="col-md-7 col-lg-7 col-sm-7 col-xs-9">
                                        <span class="menu-title">Mushroom Risotto</span>
                                        <span class="menu-descp">Risotto with White wine, oyster mushrooms, arborio rice, parmesan cheese, butter</span>
                                        <input type="checkbox" id="Risotto" name="Risotto" value="299">
                                        <label for="Risotto">Select Item </label> Select Quantity:
                                        <select name="Risottoplates" id="Risottoplates">
                                            <option value="1"> 1</option>
                                            <option value="2"> 2</option>
                                            <option value="3"> 3</option>
                                            <option value="4"> 4</option>
                                            <option value="5"> 5</option>
                                          </select>
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-3">
                                        <span class="menu-item-price">
                                                      ₹ 299
                                                  </span>
                                    </div>
                                </div>

                                <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                    <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                        <img src="../images/noodles.jpg" alt="" class="img-circle">
                                    </div>
                                    <div class="col-md-7 col-lg-7 col-sm-7 col-xs-9">
                                        <span class="menu-title">Shanghai Noodles</span>
                                        <span class="menu-descp">Oriental Noodles made with diced chicken ,served with our special sauces</span>
                                        <input type="checkbox" id="Noodles" name="Noodles" value="299">
                                        <label for="Noodles">Select Item </label> Select Quantity:
                                        <select name="Noodlesplates" id="Noodlesplates">
                                            <option value="1"> 1</option>
                                            <option value="2"> 2</option>
                                            <option value="3"> 3</option>
                                            <option value="4"> 4</option>
                                            <option value="5"> 5</option>
                                          </select>
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-3">
                                        <span class="menu-item-price">
                                                      ₹ 299
                                                  </span>
                                        <span><img src="../images/nveg.jpg" class ="nv"></span>
                                    </div>
                                </div>

                                <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                    <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                        <img src="../images/chopsuey.jpg" alt="" class="img-circle">
                                    </div>
                                    <div class="col-md-7 col-lg-7 col-sm-7 col-xs-9">
                                        <span class="menu-title">American Chopsueysuey</span>
                                        <span class="menu-descp">Classic Chopsueysuey made with Chow mein and paprika</span>
                                        <input type="checkbox" id="Chopsuey" name="Chopsuey" value="699">
                                        <label for="Chopsuey">Select Item </label> Select Quantity:
                                        <select name="Chopsueyplates" id="Chopsueyplates">
                                            <option value="1"> 1</option>
                                            <option value="2"> 2</option>
                                            <option value="3"> 3</option>
                                            <option value="4"> 4</option>
                                            <option value="5"> 5</option>
                                          </select>
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-3">
                                        <span class="menu-item-price">
                                                      ₹ 699
                                                  </span>
                                        <span><img src="../images/nveg.jpg" class ="nv"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="tab-pane" id="desserts">
                        <div class="row">
                            <div class="menu-group">
                                <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                    <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                        <img src="../images/cupcake.jpg" alt="" class="img-circle">
                                    </div>
                                    <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                        <span class="menu-title">FoodCloud's Cupcakes</span>
                                        <span class="menu-descp">Our special self baked delicacy topped with chocolate chips </span>
                                        <input type="checkbox" id="Cupcakes" name="Cupcakes" value="149">
                                        <label for="Cupcakes">Select Item </label> Select Quantity:
                                        <select name="Cupcakesplates" id="Cupcakesplates">
                                            <option value="1"> 1</option>
                                            <option value="2"> 2</option>
                                            <option value="3"> 3</option>
                                            <option value="4"> 4</option>
                                            <option value="5"> 5</option>
                                          </select>
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                        <span class="menu-item-price">
                                                      ₹ 149
                                                  </span>
                                    </div>
                                </div>

                                <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                    <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                        <img src="../images/waffle.jpg" alt="" class="img-circle">
                                    </div>
                                    <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                        <span class="menu-title">Chocolate Wafflesles</span>
                                        <span class="menu-descp"> Served withwhipped cream and candied hazelnuts</span>
                                        <input type="checkbox" id="Waffles" name="Waffles" value="249">
                                        <label for="Waffles">Select Item </label> Select Quantity:
                                        <select name="Wafflesplates" id="Wafflesplates">
                                            <option value="1"> 1</option>
                                            <option value="2"> 2</option>
                                            <option value="3"> 3</option>
                                            <option value="4"> 4</option>
                                            <option value="5"> 5</option>
                                          </select>
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                        <span class="menu-item-price">
                                                      ₹ 249
                                                  </span>
                                    </div>
                                </div>

                                <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                    <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                        <img src="../images/pastry.jpg" alt="" class="img-circle">
                                    </div>
                                    <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                        <span class="menu-title">Banana Pastry</span>
                                        <span class="menu-descp">Fresh Baked Pastry with chocolate icing</span>
                                        <input type="checkbox" id="Pastry" name="Pastry" value="199">
                                        <label for="Pastry">Select Item </label> Select Quantity:
                                        <select name="Pastryplates" id="Pastryplates">
                                            <option value="1"> 1</option>
                                            <option value="2"> 2</option>
                                            <option value="3"> 3</option>
                                            <option value="4"> 4</option>
                                            <option value="5"> 5</option>
                                          </select>
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                        <span class="menu-item-price">
                                                      ₹ 199
                                                  </span>
                                        <span><img src="../images/nveg.jpg" class ="nv"></span>
                                    </div>
                                </div>

                                <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                    <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                        <img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2012/4/24/2/ED0203_homemade-cannoli_s4x3.jpg.rend.hgtvcom.826.620.suffix/1433592011573.jpeg" alt="" class="img-circle">
                                    </div>
                                    <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                        <span class="menu-title">Cannoli</span>
                                        <span class="menu-descp">Pastry cream with strawberry balsamic and salted pistachios</span>
                                        <input type="checkbox" id="Cannoli" name="Cannoli" value="199">
                                        <label for="Cannoli">Select Item </label> Select Quantity:
                                        <select name="Cannoliplates" id="Cannoliplates">
                                            <option value="1"> 1</option>
                                            <option value="2"> 2</option>
                                            <option value="3"> 3</option>
                                            <option value="4"> 4</option>
                                            <option value="5"> 5</option>
                                          </select>
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                        <span class="menu-item-price">
                                                      ₹ 199
                                                  </span>
                                        <span><img src="../images/nveg.jpg" class ="nv"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="text-center">
        <button type="submit" name="submit" class='btn btn-primary pt-3'> Place Order</button>
    </div>
</form>
</section>

<footer>
    <!--button class="to-top"><i class="fa fa-chevron-up"></i>TOP</button-->

    

    <div class="restaurant-info">

        <div class="locations">
            <h4>LOCATIONS</h4>
            <div class="location-1">
                <h5>16-17 Bridge Street<br />Hereford &#8212; HR4 9DF</h5>
            </div>
            <!--location-1-->
        </div>
        <!--locations end-->

        <div class="hours">
            <h4>HOURS</h4>
            <div class="weekdays">
                <h5>Monday - Friday<br /> 8:00am - 10:00pm
                </h5>
            </div>
            <!--weekdays end-->

            <div class="weekends">
                <h5>Saturday<br /> 9:00am - 11:00pm
                </h5>
            </div>
            <!--weekends end-->

            <div class="private-events">
                <h5>Sunday<br /> 9:00am - 4:00pm
                </h5>
            </div>

        </div>
        <!--hours end-->

    </div>
    <!--restaurant-info end-->

    <div class="copyright">
        <p><small>Copyright 2019 &#169; Create and Developed By <span>Adam Media</span></small></p>
    </div>

</footer>


<script type="text/javascript" src="../js/menu.js"></script>