

<form action="/dashboard/menu" method="POST">
    <label name="pizzaMenu">
        Pizza : 25
        <br>
        <input type="checkbox" id="pizza" name="pizza" value="25">
        <input type="text" id="pizzaPlates" name="pizzaPlates" onclick="pizza()">
    </label>
        <br>
    <label>
        Pasta : 50
        <br>
        <input type="checkbox" name="pasta" value="50">
        <input type="text" name="pastaPlates">
    </label>
        <br>
    <label>
        Burger : 150
        <br>
        <input type="checkbox" name="burger" value="150">
        <input type="text" name="burgerPlates">
    </label>
        <br>
    <label>
        Macroni : 250
        <br>
        <input type="checkbox" name="macroni" value="250">
        <input type="text" name="macroniPlates">
    </label>
    <button type="submit">Submit</button>
</form>

