
    <link rel="stylesheet" href="../css/menu.css" type="text/css">

   

    
    <head>
            <meta charset="UTF-8">
          
            <title>The Den - Home</title>
          
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
            <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
            <link rel='stylesheet' href='https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css'>
            <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
            <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css'>
            <link rel="stylesheet" href="css/style.css">
          <meta name="viewport" content="width=device-width, initial-scale=1">
        </head>
    

        <header>
        <nav>
          <h2><a href="/dashboard" id="logo">FOODCLOUD</a></h2>
          <button class="nav-button fa fa-bars"></button>
          <div>
      <!--     <ul> -->
      <ul>
        <button class="exit-menu fa fa-times"></button>
        <li><a href="/dashboard">welcome</a></li>
        <li><a href="/dashboard/menu" class="active">menu</a></li>
        <li><a href="#">about</a></li>
        <li><a href="#">team</a></li>
        <li><a href="#">contact</a></li>
      </ul>
      <!--     </ul> -->
          </div>
        </nav>
        <div class="center">
          <h1 class="alex-brush">Welcome</h1>
          <h2>the den</h2>
          <span id="asterisk">*</span>
          <p>everyone is welcome</p>
        </div>
      </header>
      <!-- Our Menu section starts -->
              <section id="our-menu">
                  <div class="container">
                    <div class="center-text-menu">
                      <h1 class="alex-brush"><span class="custom-font">Discover</span><br />OUR MENU</h1>
                      <h2>*</h2>
                    </div>
                      <div class="menu-table">
                          <!-- Menu tabs -->
                          <ul class="nav nav-tabs  menu-tabs" role="tablist">
                              <li class="active">
                                  <a href="#soups-salads-appetizers" aria-controls="soups-salads-appetizers" role="tab" data-toggle="tab" class="icon icon-home"><span>Breakfast</span></a>
                              </li>
                              <li>
                                  <a href="#organic-pastas" aria-controls="prganic-pastas" role="tab" data-toggle="tab">Lunch</a>
                              </li>
                              <li>
                                  <a href="#pizza" aria-controls="pizza" role="tab" data-toggle="tab">Dinner</a>
                              </li>
                              <li>
                                  <a href="#entrees" aria-controls="entrees" role="tab" data-toggle="tab">Desserts</a>
                              </li>
                              <li>
                                  <a href="#desserts" aria-controls="desserts" role="tab" data-toggle="tab">Drinks</a>
                              </li>
                          </ul>
      
                          <!-- Menu Tab panes -->
                          <div class="tab-content">
                              <div class="tab-pane active fade in" id="soups-salads-appetizers">
                                  <div class="row">
                                      <div class="menu-group">
                                          <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                              <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                                  <img src="http://gdurl.com/caeA" alt="" class="img-circle">
                                              </div>
                                              <div class="col-md-7 col-lg-7 col-sm-7 col-xs-9">
                                                  <span class="menu-title">Crispy Risotto Balls</span>
                                                  <span class="menu-descp">mozzarella, Grana Padano, herb aioli, marinara</span>
                                              </div>
                                              <div class="col-md-2 col-lg-2 col-sm-2 col-xs-3">
                                                  <span class="menu-item-price">
                                                      ₹ 34
                                                  </span>
                                              </div>
                                          </div>
      
                                          <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                              <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                                  <img src="http://gdurl.com/caeA" alt="" class="img-circle">
                                              </div>
                                              <div class="col-md-7 col-lg-7 col-sm-7 col-xs-9">
                                                  <span class="menu-title">Minestrone Soup</span>
                                                  <span class="menu-descp">cranberry beans, vegetables, Grana Padano</span>
                                              </div>
                                              <div class="col-md-2 col-lg-2 col-sm-2 col-xs-3">
                                                  <span class="menu-item-price">
                                                      ₹ 45
                                                  </span>
                                              </div>
                                          </div>
      
                                          <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                              <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                                  <img src="http://gdurl.com/caeA" alt="" class="img-circle">
                                              </div>
                                              <div class="col-md-7 col-lg-7 col-sm-7 col-xs-9">
                                                  <span class="menu-title">Lentil Soup</span>
                                                  <span class="menu-descp">parmesan chicken broth, potato, bacon, Grana Padano, parsley</span>
                                              </div>
                                              <div class="col-md-2 col-lg-2 col-sm-2 col-xs-3">
                                                  <span class="menu-item-price">
                                                      ₹ 54
                                                  </span>
                                              </div>
                                          </div>
      
                                          <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                              <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                                  <img src="http://gdurl.com/caeA" alt="" class="img-circle">
                                              </div>
                                              <div class="col-md-7 col-lg-7 col-sm-7 col-xs-9">
                                                  <span class="menu-title">Mixed Greens</span>
                                                  <span class="menu-descp">red wine vinaigrette, pears, walnuts, goat cheese</span>
                                              </div>
                                              <div class="col-md-2 col-lg-2 col-sm-2 col-xs-3">
                                                  <span class="menu-item-price">
                                                      ₹ 23
                                                  </span>
                                              </div>
                                          </div>
      
                                          <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                              <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                                  <img src="http://gdurl.com/caeA" alt="" class="img-circle">
                                              </div>
                                              <div class="col-md-7 col-lg-7 col-sm-7 col-xs-9">
                                                  <span class="menu-title">Chopped Salad</span>
                                                  <span class="menu-descp">chickpea, green olive, pistachio, pepperoni, oregano, red wine vinaigrette, pecorino</span>
                                              </div>
                                              <div class="col-md-2 col-lg-2 col-sm-2 col-xs-3">
                                                  <span class="menu-item-price">
                                                      ₹ 46
                                                  </span>
                                              </div>
                                          </div>
      
                                          <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                              <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                                  <img src="http://gdurl.com/caeA" alt="" class="img-circle">
                                              </div>
                                              <div class="col-md-7 col-lg-7 col-sm-7 col-xs-9">
                                                  <span class="menu-title">Orange Salad</span>
                                                  <span class="menu-descp">green olives, red onions, tarragon, extra virgin olive oil</span>
                                              </div>
                                              <div class="col-md-2 col-lg-2 col-sm-2 col-xs-3">
                                                  <span class="menu-item-price">
                                                      ₹ 64
                                                  </span>
                                              </div>
                                          </div>
      
                                          <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                              <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                                  <img src="http://gdurl.com/caeA" alt="" class="img-circle">
                                              </div>
                                              <div class="col-md-7 col-lg-7 col-sm-7 col-xs-9">
                                                  <span class="menu-title">Shaved Kale</span>
                                                  <span class="menu-descp">creamy anchovy dressing, pecorino, bread crumbs</span>
                                              </div>
                                              <div class="col-md-2 col-lg-2 col-sm-2 col-xs-3">
                                                  <span class="menu-item-price">
                                                      ₹ 75
                                                  </span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="tab-pane fade " id="organic-pastas">
                                  <div class="row">
                                      <div class="menu-group">
                                          <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                              <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                                  <img src="http://gdurl.com/caeA" alt="" class="img-circle">
                                              </div>
                                              <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                                  <span class="menu-title">Spaghetti Aglio e Olio</span>
                                                  <span class="menu-descp">olive oil, garlic, chili, Grana Padano (add anchovy 2.00)</span>
                                              </div>
                                              <div class="col-md-2 col-lg-2 col-sm-2 col-xs-3">
                                                  <span class="menu-item-price">
                                                      ₹ 54
                                                  </span>
                                              </div>
                                          </div>
      
                                          <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                              <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                                  <img src="http://gdurl.com/caeA" alt="" class="img-circle">
                                              </div>
                                              <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                                  <span class="menu-title">Chitarra al Pomodoro</span>
                                                  <span class="menu-descp">tomatoes, garlic, basil, Grana Padano</span>
                                              </div>
                                              <div class="col-md-2 col-lg-2 col-sm-2 col-xs-3">
                                                  <span class="menu-item-price">
                                                      ₹ 87
                                                  </span>
                                              </div>
                                          </div>
      
                                          <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                              <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                                  <img src="http://gdurl.com/caeA" alt="" class="img-circle">
                                              </div>
                                              <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                                  <span class="menu-title">Pappardelle</span>
                                                  <span class="menu-descp">smoked pork, mascarpone, apples</span>
                                              </div>
                                              <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                                  <span class="menu-item-price">
                                                      ₹ 45
                                                  </span>
                                              </div>
                                          </div>
      
                                          <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                              <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                                  <img src="http://gdurl.com/caeA" alt="" class="img-circle">
                                              </div>
                                              <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                                  <span class="menu-title">Pistachio Ravioli</span>
                                                  <span class="menu-descp">pistachio, mint, lemon brown butter, Grana Padano</span>
                                              </div>
                                              <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                                  <span class="menu-item-price">
                                                      ₹ 43
                                                  </span>
                                              </div>
                                          </div>
      
                                          <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                              <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                                  <img src="http://gdurl.com/caeA" alt="" class="img-circle">
                                              </div>
                                              <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                                  <span class="menu-title">Garganelli</span>
                                                  <span class="menu-descp">braised beef, olives, gremolata, Grana Padano</span>
                                              </div>
                                              <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                                  <span class="menu-item-price">
                                                      ₹ 43
                                                  </span>
                                              </div>
                                          </div>
      
                                          <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                              <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                                  <img src="http://gdurl.com/caeA" alt="" class="img-circle">
                                              </div>
                                              <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                                  <span class="menu-title">Italian Ramen</span>
                                                  <span class="menu-descp">spaghettini, soft cooked egg, chicken, basil, Grana Padano</span>
                                              </div>
                                              <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                                  <span class="menu-item-price">
                                                      ₹ 87
                                                  </span>
                                              </div>
                                          </div>
      
                                          <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                              <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                                  <img src="http://gdurl.com/caeA" alt="" class="img-circle">
                                              </div>
                                              <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                                  <span class="menu-title">Lasagna Bianca</span>
                                                  <span class="menu-descp">béchamel, butternut squash, onion, fontina, brown butter, sage</span>
                                              </div>
                                              <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                                  <span class="menu-item-price">
                                                      ₹ 78
                                                  </span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="tab-pane fade " id="pizza">
                                  <div class="row">
                                      <div class="menu-group">
                                          <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                              <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                                  <img src="http://gdurl.com/caeA" alt="" class="img-circle">
                                              </div>
                                              <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                                  <span class="menu-title">Margherita</span>
                                                  <span class="menu-descp">tomato, mozzarella, basil</span>
                                              </div>
                                              <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                                  <span class="menu-item-price">
                                                      ₹ 38
                                                  </span>
                                              </div>
                                          </div>
      
                                          <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                              <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                                  <img src="http://gdurl.com/caeA" alt="" class="img-circle">
                                              </div>
                                              <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                                  <span class="menu-title">Pastaria Marinara</span>
                                                  <span class="menu-descp">tomato, onion, garlic, oregano, basil, pecorino (very minimal cheese)</span>
                                              </div>
                                              <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                                  <span class="menu-item-price">
                                                      ₹ 48
                                                  </span>
                                              </div>
                                          </div>
      
                                          <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                              <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                                  <img src="http://gdurl.com/caeA" alt="" class="img-circle">
                                              </div>
                                              <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                                  <span class="menu-title">Pappardelle</span>
                                                  <span class="menu-descp">smoked pork, mascarpone, apples</span>
                                              </div>
                                              <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                                  <span class="menu-item-price">
                                                      ₹ 73
                                                  </span>
                                              </div>
                                          </div>
      
                                          <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                              <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                                  <img src="http://gdurl.com/caeA" alt="" class="img-circle">
                                              </div>
                                              <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                                  <span class="menu-title">Four Cheese</span>
                                                  <span class="menu-descp">mozzarella, fontina, gorgonzola dolce, Grana Padano (no tomato)</span>
                                              </div>
                                              <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                                  <span class="menu-item-price">
                                                      ₹ 48
                                                  </span>
                                              </div>
                                          </div>
      
                                          <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                              <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                                  <img src="http://gdurl.com/caeA" alt="" class="img-circle">
                                              </div>
                                              <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                                  <span class="menu-title">Fennel Salami</span>
                                                  <span class="menu-descp">tomato, mozzarella</span>
                                              </div>
                                              <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                                  <span class="menu-item-price">
                                                      ₹ 43
                                                  </span>
                                              </div>
                                          </div>
      
                                          <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                              <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                                  <img src="http://gdurl.com/caeA" alt="" class="img-circle">
                                              </div>
                                              <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                                  <span class="menu-title">The Holmes</span>
                                                  <span class="menu-descp">tomato, mozzarella, mushroom, prosciutto, oregano, Grana Padano</span>
                                              </div>
                                              <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                                  <span class="menu-item-price">
                                                      ₹ 75
                                                  </span>
                                              </div>
                                          </div>
      
                                          <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                              <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                                  <img src="http://gdurl.com/caeA" alt="" class="img-circle">
                                              </div>
                                              <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                                  <span class="menu-title">Sweet Potato</span>
                                                  <span class="menu-descp">béchamel, fontina, red onion, lemon zest, herbs</span>
                                              </div>
                                              <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                                  <span class="menu-item-price">
                                                      ₹ 38
                                                  </span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="tab-pane fade " id="entrees">
                                  <div class="row">
                                      <div class="menu-group">
                                          <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                              <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                                  <img src="http://gdurl.com/caeA" alt="" class="img-circle">
                                              </div>
                                              <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                                  <span class="menu-title">Wood Oven Roasted Chicken</span>
                                                  <span class="menu-descp">roasted cauliflower, potato, lemon,caper, parsley</span>
                                              </div>
                                              <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                                  <span class="menu-item-price">
                                                      ₹ 70
                                                  </span>
                                              </div>
                                          </div>
      
                                          <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                              <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                                  <img src="http://gdurl.com/caeA" alt="" class="img-circle">
                                              </div>
                                              <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                                  <span class="menu-title">Red Wine Braised Beef</span>
                                                  <span class="menu-descp">creamy corn polenta, roasted baby carrots, parsley</span>
                                              </div>
                                              <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                                  <span class="menu-item-price">
                                                      ₹ 30
                                                  </span>
                                              </div>
                                          </div>
      
                                          <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                              <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                                  <img src="http://gdurl.com/caeA" alt="" class="img-circle">
                                              </div>
                                              <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                                  <span class="menu-title">Wood Oven Roasted Salmon</span>
                                                  <span class="menu-descp">fennel confit, farro, zucchini, calabrian chili, preserved lemon</span>
                                              </div>
                                              <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                                  <span class="menu-item-price">
                                                      ₹ 49
                                                  </span>
                                              </div>
                                          </div>
      
                                      </div>
                                  </div>
                              </div>
                              <div class="tab-pane" id="desserts">
                                  <div class="row">
                                      <div class="menu-group">
                                          <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                              <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                                  <img src="http://gdurl.com/caeA" alt="" class="img-circle">
                                              </div>
                                              <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                                  <span class="menu-title">Mama Rodolico’s Tiramisu</span>
                                                  <span class="menu-descp">roasted cauliflower, potato, lemon,caper, parsley</span>
                                              </div>
                                              <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                                  <span class="menu-item-price">
                                                      ₹ 53
                                                  </span>
                                              </div>
                                          </div>
      
                                          <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                              <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                                  <img src="http://gdurl.com/caeA" alt="" class="img-circle">
                                              </div>
                                              <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                                  <span class="menu-title">Dark Chocolate Tart</span>
                                                  <span class="menu-descp">whipped cream and candied hazelnuts</span>
                                              </div>
                                              <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                                  <span class="menu-item-price">
                                                      ₹ 37
                                                  </span>
                                              </div>
                                          </div>
      
                                          <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                              <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                                  <img src="http://gdurl.com/caeA" alt="" class="img-circle">
                                              </div>
                                              <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                                  <span class="menu-title">Yoghurt Panna Cotta</span>
                                                  <span class="menu-descp">cherry compote</span>
                                              </div>
                                              <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                                  <span class="menu-item-price">
                                                      ₹ 73
                                                  </span>
                                              </div>
                                          </div>
      
                                          <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                              <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                                  <img src="http://gdurl.com/caeA" alt="" class="img-circle">
                                              </div>
                                              <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                                  <span class="menu-title">Cannoli</span>
                                                  <span class="menu-descp">pastry cream with strawberry balsamic and salted pistachios</span>
                                              </div>
                                              <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                                  <span class="menu-item-price">
                                                      ₹ 48
                                                  </span>
                                              </div>
                                          </div>
      
                                    </div>
                                  </div>
                              </div>
      
                        </div>
                    </div>
                </div>
      </section>
      
      <footer>
        <button class="to-top"><i class="fa fa-chevron-up"></i>TOP</button>
      
        <div class="restaurant-info">
      
          <div class="locations">
            <h4>LOCATIONS</h4>
            <div class="location-1">
              <h5>16-17 Bridge Street<br />Hereford &#8212; HR4 9DF</h5>
            </div><!--location-1-->
          </div><!--locations end-->
      
          <div class="hours">
            <h4>HOURS</h4>
            <div class="weekdays">
              <h5>Monday - Friday<br />
                8:00am - 10:00pm
              </h5>
            </div><!--weekdays end-->
      
            <div class="weekends">
              <h5>Saturday<br />
                9:00am - 11:00pm
              </h5>
            </div><!--weekends end-->
      
            <div class="private-events">
              <h5>Sunday<br />
                9:00am - 4:00pm
              </h5>
            </div>
      
          </div><!--hours end-->
      
        </div><!--restaurant-info end-->
      
        <div class="copyright">
          <p><small>Copyright 2019 &#169; Create and Developed By <span>Adam Media</span></small></p>
        </div>
      
      </footer>
      

      <script type="text/javascript" src="../js/menu.js"></script>
